<ul class="actorsSec">
    <% actors.forEach(actor => { %>
        <li class="actorsItem">
            <img src="<%= actor.imgurl %>" alt="<%= actor.name %> image" class="actorsImg">
            <h3><%= actor.name %></h3>
            <ul style="font-weight: 500; text-align: center;">
                <span style="font-weight: 700;">movies:</span>
                <% actor.movies.forEach(movie => { %>
                    <li><a href="/movie/<%= movie.id %>" class="refMovie"><%= movie.title %></a></li>
                <% }) %>
            </ul>
        </li>
    <% }) %>
</ul>