<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/detail.css">
    <title><%= movie.title %></title>
</head>
<body>
    <%- include("../partials/header") %>
    <main class="detailMain">
        
        <div class="descriptSec">
            <h1 class="descriptHead"><%= movie.title %></h1>
            <p><span class="bold">description:</span> <%= movie.descript %></p>
            <p><span class="bold">Cast:</span> <%= movie.actors %> </p>
            <p><span class="bold">Genres:</span> <%= movie.genres %> </p>
            <p><span class="bold">IMDB:</span> <%= movie.imdb_score %></p>
            <p><span class="bold">Create:</span> <%= movie.year %></p>
            <p><span class="bold">Length:</span> <%= movie.length %> minutes</p>
        </div>
        <img src="<%= movie.imgurl %>" alt="<%= movie.title %> poster" class="detailImg">
    </main>
    <%- include("../partials/footer") %>
</body>
</html>